:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
margin: 0;
font-family: Arial, sans-serif;
}

.home {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  max-width: 1100px;
  margin: 0 auto;
}

.home-image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%; 
}

.home-text {
  flex: 1;
}

.home-text h1 {
  margin-bottom: 1rem;
}

.nav {
display: flex;
justify-content: space-between;
padding: .5rem;
background: hsl(0, 0%, 0%);
}

.nav h2{
margin: 20px;
}

.nav a {
color: white;
margin-left: 1rem;
text-decoration: none;
}


.page {
padding: 2rem;
}


.grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 1rem;
justify-content: start;
}


.card {
padding: 1rem;
border: 1px solid #ddd;
border-radius: 8px;
}

.card img {
  width: 100%;
  height: 200px;   
  object-fit: cover;   
  border-radius: 8px;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    text-align: center;
  }

  .home-image img {
    width: 180px;
    height: 180px;
  }
}